<template>
  <div>
    <v-container fluid>
      <v-row justify="space-between">
        <v-col md="4" sm="6" cols="12">
          <v-card-title>Занимаемые должности</v-card-title>
        </v-col>
        <v-col sm="5" cols="12">
          <v-col>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Поиск по сотруднику"
              single-line
              hide-details
            ></v-text-field>
          </v-col>
          <v-col class="d-flex align-center justify-md-space-between flex-wrap" >
            <v-checkbox
              v-model="isShowFire"
              :label="`Показать уволенных`"
            ></v-checkbox>
            <v-btn color="green">
              <span>Принять на должность</span>
            </v-btn>
            <v-btn color="green" :disabled="!activeBtnFired">
              <span>{{severalWorkers ?'Снять с должностей':'Снять с должности'}}</span>
            </v-btn>
          </v-col>
        </v-col>
      </v-row>
    </v-container>
    <v-card>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="filterWorker"
        item-key="name"
        show-select
        :items-per-page="10"
        class="elevation-1"
        selectable-key="name"
        :item-class="fireColor"
        :footer-props="footerProps"
        @toggle-select-all="selectAll($event)"
      >
        <template v-slot:item.data-table-select="{ isSelected, select, item }">
          <v-simple-checkbox v-if="!item.fireDate" :value="isSelected" @input="select($event)">
          </v-simple-checkbox>
        </template>
        <template v-slot:item.hireDate="{ item }">
          <v-list-item-title>
            {{ dateFormat(item.hireDate) }}
          </v-list-item-title>
        </template>
        <template v-slot:item.fireDate="{ item }">
          <v-list-item-title v-if="item.fireDate">
            {{ dateFormat(item.fireDate) }}
          </v-list-item-title>
        </template>
        <template v-slot:item.salary="{ item }">
          <v-list-item-title v-if="item.fireDate">
            {{ `${item.salary} ₽ (${item.fraction} %)` }}
          </v-list-item-title>
          <v-list-item-title
            v-else
            @click="edit(item.name, {salary: item.salary, fraction: item.fraction})" class="cursor">
            {{ `${item.salary} ₽ (${item.fraction} %)` }}
          </v-list-item-title>
        </template>
        <template v-slot:item.base="{ item }">
          <v-list-item-title v-if="item.fireDate">
            {{ `${item.base} ₽` }}
          </v-list-item-title>
          <v-list-item-title v-else @click="edit(item.name, { base: item.base} )" class="cursor">
            {{ `${item.base} ₽` }}
          </v-list-item-title>
        </template>
        <template v-slot:item.advance="{ item }">
          <v-list-item-title v-if="item.fireDate">
            {{ `${item.advance} ₽` }}
          </v-list-item-title>
          <v-list-item-title v-else @click="edit(item.name, {advance:item.advance} )"
                             class="cursor">
            {{ `${item.advance} ₽` }}
          </v-list-item-title>
        </template>
        <template v-slot:item.byHours="{ item }">
          <v-simple-checkbox v-if="item.fireDate" disabled v-model="item.byHours">
          </v-simple-checkbox>
          <v-simple-checkbox v-else v-model="item.byHours"></v-simple-checkbox>
        </template>
        <template v-slot:footer.page-text="items">
          С {{ items.pageStart }} по {{ items.pageStop }} из {{ items.itemsLength }}
        </template>
      </v-data-table>
    </v-card>
    <v-spacer></v-spacer>
    <v-dialog
      v-model="dialog"
      max-width="500px"
    >
      <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                md="6"
                v-if="editedField === 'fraction' || editedField === 'salary'"
              >
                <v-text-field
                  v-model="editedItem.salary"
                  label="Ставка, руб"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="6"
                v-if="editedField === 'fraction'"
              >
                <v-text-field
                  v-model="editedItem.fraction"
                  label="Ставка, %"
                ></v-text-field>
              </v-col>
              <v-col
                v-if="editedField === 'base'">
                <v-text-field
                  v-model="editedItem.base"
                  label="База, руб"
                ></v-text-field>
              </v-col>
              <v-col
                v-if="editedField === 'advance'"
              >
                <v-text-field
                  v-model="editedItem.advance"
                  label="Аванс, руб"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="close"
          >
            Отменить
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="save"
          >
            Сохранить
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import moment from 'moment';

interface Worker {
  name: string;
  companyName: string;
  positionName: string;
  hireDate: string;
  fireDate: string | null;
  salary: number;
  fraction: number;
  base: number;
  advance: number;
  byHours: boolean;
}

interface UpdateData {
  salary?: number | null ;
  fraction?: number | null;
  base?: number | null;
  advance?: number | null;
}
interface SelectData {
  items: Worker[];
}
const SALARY = 'salary';
const FRACTION = 'fraction';
const BASE = 'base';
const ADVANCE = 'advance';

type Keys = [typeof SALARY | typeof FRACTION | typeof BASE, typeof ADVANCE];

export default Vue.extend({
  name: 'Workers',
  data: () => ({
    selected: [] as Worker[],
    isShowFire: true,
    isActiveBtn: true,
    isSeveralWorkers: true,
    dialog: false,
    search: '',
    data: [
      {
        name: 'Джордж Вашингтон',
        companyName: 'ООО "Синергия"',
        positionName: 'Первый президент США',
        hireDate: '1789-04-30',
        fireDate: '1797-03-04',
        salary: 1000,
        fraction: 100,
        base: 999,
        advance: 1000,
        byHours: false,
      },
      {
        name: 'Ричард I Львиное Сердце',
        companyName: 'ООО "Синергия"',
        positionName: 'Король Англии',
        hireDate: '1189-01-01',
        fireDate: '1199-05-17',
        salary: 1000,
        fraction: 100,
        base: 1000,
        advance: 1000,
        byHours: true,
      },
      {
        name: 'Джейсон Стейтем',
        companyName: 'ООО "Синергия"',
        positionName: 'Бейкон',
        hireDate: '1998-09-01',
        fireDate: null,
        salary: 1000,
        fraction: 100,
        base: 1000,
        advance: 1000,
        byHours: false,
      },
      {
        name: 'Тарантино К. Дж.',
        companyName: 'ООО "Синергия"',
        positionName: 'Джимми',
        hireDate: '1994-04-15',
        fireDate: null,
        salary: 1000,
        fraction: 100,
        base: 1000,
        advance: 1000,
        byHours: false,
      },
      {
        name: 'Камбербэтч Б.',
        companyName: 'ООО "Синергия"',
        positionName: 'Смауг',
        hireDate: '1000-01-01',
        fireDate: '2941-10-09',
        salary: 1000,
        fraction: 100,
        base: 1000,
        advance: 1000,
        byHours: false,
      },
      {
        name: 'Крузенштерн И. Ф.',
        companyName: 'ООО "Синергия"',
        positionName: 'Человек и пароход',
        hireDate: '1770-11-08',
        fireDate: null,
        salary: 1000,
        fraction: 100,
        base: 1000,
        advance: 1000,
        byHours: false,
      },
      {
        name: 'Бендер С. Р.',
        companyName: '"Planet Express"',
        positionName: 'Робот-сгибальщик',
        hireDate: '2997-03-27',
        fireDate: null,
        salary: 1000,
        fraction: 100,
        base: 1000,
        advance: 1000,
        byHours: true,
      },
    ],
    editedItem: {
      salary: 0,
      fraction: 0,
      base: 0,
      advance: 0,
    },
    editedField: '',
    editedIndex: 0,
    headers: [
      {
        text: 'Сотрудник',
        align: 'start',
        value: 'name',
      },
      { text: 'Компания', value: 'companyName' },
      { text: 'Должность', value: 'positionName' },
      { text: 'Дата приема', value: 'hireDate' },
      { text: 'Дата увольнения', value: 'fireDate' },
      { text: 'Ставка', value: 'salary', align: 'right' },
      { text: 'База', value: 'base', align: 'right' },
      { text: 'Аванс', value: 'advance', align: 'right' },
      { text: 'Почасовая', value: 'byHours', align: 'center' },
    ],
    footerProps: {
      itemsPerPageText: 'Строк на странице',
      itemsPerPageAllText: 'Все',
    },
    headerProps: {
      everyItem: true,
    },
  }),
  watch: {},
  computed: {
    filterWorker() {
      if (!this.isShowFire && this.search !== '') {
        return this.data
          .filter((item) => item.fireDate == null)
          .filter((item) => item.name
            .toLowerCase().indexOf(this.search.toLowerCase()) !== -1);
      }
      if (this.search !== '') {
        return this.data.filter((item) => item.name
          .toLowerCase().indexOf(this.search.toLowerCase()) !== -1);
      }
      if (!this.isShowFire) {
        return this.data.filter((item) => item.fireDate == null);
      }
      return this.data;
    },
    activeBtnFired() {
      if (this.selected.length > 0) {
        return this.isActiveBtn;
      }
      return !this.isActiveBtn;
    },
    severalWorkers() {
      if (this.selected.length > 1) {
        return this.isSeveralWorkers;
      }
      return !this.isSeveralWorkers;
    },
  },
  methods: {
    selectAll(values: SelectData) {
      const filter = values.items.filter((item: Worker) => item.fireDate === null);
      if (filter.length !== this.selected.length) {
        this.selected = filter as Worker[];
      } else {
        this.selected = [];
      }
    },
    dateFormat(date: string) {
      const format = moment(date);
      return format.format('DD.MM.YYYY');
    },
    fireColor: (item: Worker) => {
      if (item.fireDate) {
        return 'firedBg';
      }
      return 'transparent';
    },
    edit(name: string, args: UpdateData): void {
      this.dialog = true;
      // eslint-disable-next-line prefer-destructuring
      this.editedIndex = this.data.findIndex((item) => item.name === name);
      const keys = Object.keys(args) as Keys;
      let i = 0;
      while (i < keys.length) {
        this.editedItem[keys[i]] = args[keys[i]] as number;
        this.editedField = keys[i];
        i += 1;
      }
    },
    save() {
      const keys = Object.keys(this.editedItem) as Keys;
      let i = 0;
      while (i < keys.length) {
        if (this.editedItem[keys[i]]) {
          this.data[this.editedIndex][keys[i]] = this.editedItem[keys[i]];
        }
        i += 1;
      }
      this.dialog = false;
    },
    close() {
      this.dialog = false;
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="css">
.firedBg {
  background-color: #FF8A80 !important;
}
.cursor {
  cursor: pointer;
}
</style>
