<template>
  <v-app>
    <v-main>
      <Workers/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Workers from '@/components/Workers.vue';

export default Vue.extend({
  name: 'App',

  components: {
    Workers,
  },

  data: () => ({
    //
  }),
});
</script>
